* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;

}

.flex-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


/* Header Section */
header {
  width: 100%;
  height: 69px;
  background-color: black;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 50px;
  padding-left: 10px;
}

header nav {
  padding-right: 10px;
}

header a {
  color: Seashell;
  text-decoration: underline;
  padding: 0 10px;
}

/* Mission Section */

#mission {
  height: 700px;
  padding-top: 69px;
  background-image: url("images/img-mission-background.jpg");
  width: 1200px;
}

#mission h2 {
  padding: 10px;
}

#mission .content {
  margin: auto;
  width: 100%;
  padding: 15px;
  background-color: black;
}

/* Featured Section */

#featured {
  width: 1000px;
  height: 700px;
  padding-top: 70px;
}

#featured h2, h4 {
  padding: 10px;
}

#featured img {
  height: 200px;
  width: 300px;
  display: block;
  margin: 15px;
}

.item {
  margin-bottom: 20px;
}

.item span {
  padding-top: 10px;
  font-weight: bold;
}


/* Locations Section */

#locations {
  width: 1200px;
  height: 500px;
  background-image: url("images/img-locations-background.jpg");
  padding-top: 70px;
  margin: auto;
}



.location {
  width: 300px;
  background-color: black;
  margin: 15px 40px;
  opacity: 1;
}

.location h3, p {
  padding: 20px;
}

/* Contact Section */

.contact {
  padding-top: 10px;
  width: 1200px;
  height: 200px;

}
.contact h2 {
  padding-bottom: 30px;
}

.contact h5 {
  padding-bottom: 25px;
}

/* Footer Section */
footer {
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
}
